/* memberPage.css */

/* Dashboard style */
.dashboard-content {
	width: 100vw;
}

.row .aside {
	background-color: var(--sidebar-bg-color);
	color: var(--sidebar-text-color);
}

/* Sidebar style */
.sidebar {
	background-color: var(--sidebar-bg-color);
	color: var(--sidebar-text-color);
}

.offcanvas {
	background-color: var(--bg-color-primary) !important;
}

.offcanvas-body {
	padding: 1rem 0 !important;
}

/* User box style */
.sidebar-user {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.sidebar-img {
	margin-bottom: 1rem;
	object-fit: cover;
	object-position: 25% 25%;
	width: 180px;
	height: 180px;
	align-self: center;
}

.sidebar-username {
	margin: 0.5rem 0 2rem 0;
	font-size: 1.3rem;
	font-weight: 900 !important;
}

/* Sidebar button style */
.sidebar-item {
	display: flex;
	margin-bottom: 3px;
	width: 100%;
	background-color: var(--sidebar-btn-color);
	color: var(--sidebar-text-color);
	border-color: var(--sidebar-border-color);
}

.sidebar-item a {
	color: var(--sidebar-text-color);
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 1rem 1.8rem;
}

.sidebar-item a svg {
	margin-right: 10px;
	width: 20px;
	height: 1.2rem;
}

.sidebar-item a:hover,
.sidebar-item a:focus,
.sidebar-item a:active,
.sidebar-item a.active {
	background-color: var(--sidebar-active-btn-color) !important;
	color: var(--sidebar-active-text-color) !important;
}

/* Content style */
.content {
	padding: 2rem 3rem;
}

/* Page style */
.dashboard-card-title {
	margin-bottom: 0;
	text-align: center;
}

.dashboard-date-arrow {
	margin: 0 1rem;
	cursor: pointer;
}

.card {
	border: 0;
}

.card-header,
.card-title {
	border: 0 !important;
}

.card-body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard-date {
	text-align: center;
}

/* Mood page style */
.dashboard-card-title h5 {
	color: var(--text-color-white);
}

.mood-chart-header {
	background-color: var(--turquoise) !important;
	padding: 1rem 0 !important;
}

.mood-count-header {
	background-color: var(--coral) !important;
}

.sleeping-hrs-header {
	background-color: var(--lilac) !important;
}

.activities-count-header {
	background-color: var(--cerulean) !important;
}

.mood-row {
	min-height: 300px;
	width: 100%;
	margin: auto !important;
}

/* Logs page style */
.save-btn {
	max-width: 100px !important;
	background-color: var(--ruby) !important;
	border: 0 !important;
}

.log-title {
	color: var(--azure) !important;
}

.log-btn {
	width: 100%;
}

.log-btn .btn {
	margin: 5px;
	padding: 0;
	width: 40px;
	height: 40px;
	border: 0;
	font-size: 1.5rem;
}

/* Rate mood */
.icon-img {
	margin: 5px;
	width: 40px;
	height: 40px;
}

/* textarea:focus {   
  border: 2 var(--yellow) ;
  box-shadow: 0 0 8px var(--yellow)!important;
  outline: 0.2rem solid var(--lightorange) !important;
} */

/* Sleep log */
.timepicker {
	display: flex !important;
	justify-content: space-between !important;
}

.sleep-btn {
	width: 100% !important;
}

.sleep-btn .btn {
	margin: 5px;
	padding: 0;
	width: 120px;
	height: 40px;
	border: 0;
}

.quality-btn-1 {
	background-color: var(--azure) !important;
}
.quality-btn-2 {
	background-color: var(--turquoise) !important;
}
.quality-btn-3 {
	background-color: var(--orange) !important;
}
.quality-btn-4 {
	background-color: var(--pink) !important;
}
.quality-btn-5 {
	background-color: var(--coral) !important;
}

/* Small screen */
@media (max-width: 576px) {
	.sleep-btn .btn {
		width: 100px;
	}
}

/* Activities log */
.act-btn .btn {
	margin: 5px;
	padding: 0;
	width: 100px;
	height: 100px;
	border: 0;
}

.act-btn-icon {
	font-size: 3.5rem;
}

.act-btn .card-text {
	margin-bottom: 0.5rem !important;
}

@media (min-width: 577px) and (max-width: 767px) {
	.act-btn .btn {
		width: 80px;
		height: 80px;
	}
	.act-btn-icon {
		font-size: 3rem;
	}
}

@media (max-width: 576px) {
	.act-btn .btn {
		width: 65px;
		height: 65px;
	}
	.act-btn-icon {
		font-size: 2.2rem;
	}
}

.act-btn-social {
	background-color: var(--azure) !important;
}

:hover.act-btn-social {
	background-color: var(--cerulean) !important;
}

.act-btn-hobbies {
	background-color: var(--lime) !important;
}

:hover.act-btn-hobbies {
	background-color: var(--chartreuse) !important;
}

.act-btn-exercise {
	background-color: var(--orange) !important;
}

:hover.act-btn-exercise {
	background-color: var(--lightorange) !important;
}

.act-btn-meal {
	background-color: var(--pink) !important;
}

:hover.act-btn-meal {
	background-color: var(--pastel) !important;
}
