/* memberPage.css */

/* Dashboard style */
.dashboard-content {
	width: 100vw;
}

.row .aside {
	background-color: var(--sidebar-bg-color);
	color: var(--sidebar-text-color);
}

/* Sidebar style */
.sidebar {
	background-color: var(--sidebar-bg-color);
	color: var(--sidebar-text-color);
}

.offcanvas {
	background-color: var(--bg-color-primary) !important;
}

.offcanvas-body {
	padding: 1rem 0 !important;
}

/* User box style */
.sidebar-user {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.sidebar-img {
	margin-bottom: 1rem;
	object-fit: cover;
	object-position: 25% 25%;
	width: 180px;
	height: 180px;
	align-self: center;
}

.sidebar-username {
	margin: 0.5rem 0 2rem 0;
	font-size: 1.3rem;
	font-weight: 900 !important;
}

/* Sidebar button style */
.sidebar-item {
	display: flex;
	margin-bottom: 3px;
	width: 100%;
	background-color: var(--sidebar-btn-color);
	color: var(--sidebar-text-color);
	border-color: var(--sidebar-border-color);
}

.sidebar-item a {
	color: var(--sidebar-text-color);
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 1rem 1.8rem;
}

.sidebar-item a svg {
	margin-right: 10px;
	width: 20px;
	height: 1.2rem;
}

.sidebar-item a:hover,
.sidebar-item a:focus,
.sidebar-item a:active,
.sidebar-item a.active {
	background-color: var(--sidebar-active-btn-color) !important;
	color: var(--sidebar-active-text-color) !important;
}

/* Content style */
.content {
	padding: 2rem 3rem;
}

/* Page style */
.dashboard-card-title {
	margin-bottom: 0;
	text-align: center;
}

.dashboard-date-arrow {
	margin: 0 1rem;
	cursor: pointer;
}

.card {
	border: 0;
}

.card-header,
.card-title {
	border: 0 !important;
}

.card-body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard-date {
	text-align: center;
}

/* Mood page style */
.dashboard-card-title h5 {
	color: var(--text-color-white);
}

.mood-chart-header {
	background-color: var(--turquoise) !important;
	padding: 1rem 0 !important;
}

.mood-count-header {
	background-color: var(--coral) !important;
}

.sleeping-hrs-header {
	background-color: var(--lilac) !important;
}

.activities-count-header {
	background-color: var(--cerulean) !important;
}

.mood-row {
	min-height: 300px;
	width: 100%;
	margin: auto !important;
}

/* Logs page style */
.save-btn {
	max-width: 100px !important;
	background-color: var(--ruby) !important;
	border: 0 !important;
}

.log-title {
	color: var(--azure) !important;
}

.log-btn-row {
	width: 100%;
}

.log-btn-row .btn {
	margin: 5px;
	padding: 0;
	width: 40px;
	height: 40px;
	border: 0;
	font-size: 1.5rem;
}

/* Default styles for all log buttons */
button[class^="log-btn-"] {
	background-color: var(--default-background) !important;
}

button[class^="log-btn-"]:hover {
	filter: brightness(110%) saturate(90%) contrast(100%);
	background-color: var(--default-background) !important;
}

button[class^="log-btn-"]:active,
button[class^="log-btn-"]:focus {
	outline: 5px solid var(--outline-color) !important;
}

/* Specific styles for each log level */
.log-btn-1 {
	--default-background: var(--lilac);
	--outline-color: var(--d-lilac);
}

.log-btn-2 {
	--default-background: var(--azure);
	--outline-color: var(--blue);
}

.log-btn-3 {
	--default-background: var(--turquoise);
	--outline-color: var(--d-turquoise);
}

.log-btn-4 {
	--default-background: var(--lime);
	--outline-color: var(--d-lime);
}

.log-btn-5 {
	--default-background: var(--chartreuse);
	--outline-color: var(--lime);
}

.log-btn-6 {
	--default-background: var(--orange);
	--outline-color: var(--darkorange);
}

.log-btn-7 {
	--default-background: var(--pastel);
	--outline-color: var(--pink);
}

.log-btn-8 {
	--default-background: var(--pink);
	--outline-color: var(--coral);
}

.log-btn-9 {
	--default-background: var(--coral);
	--outline-color: var(--ruby);
}

.log-btn-10 {
	--default-background: var(--ruby);
	--outline-color: var(--d-ruby);
}

/* Rate mood */
.icon-img {
	margin: 5px;
	width: 40px;
	height: 40px;
}

/* Sleep log */
.timepicker {
	display: flex !important;
	justify-content: space-between !important;
}

.sleep-btn {
	width: 100% !important;
}

.sleep-btn .btn {
	margin: 5px;
	padding: 0;
	width: 120px;
	height: 40px;
	border: 0;
}

/* Default styles for all quality buttons */
button[class^="quality-btn-"] {
	background-color: var(--default-background) !important;
}

button[class^="quality-btn-"]:hover {
	filter: brightness(110%) saturate(90%) contrast(100%);
	background-color: var(--default-background) !important;
}

button[class^="quality-btn-"]:active,
button[class^="quality-btn-"]:focus {
	outline: 5px solid var(--outline-color) !important;
}

/* Specific styles for each quality level */
.quality-btn-1 {
	--default-background: var(--azure);
	--outline-color: var(--blue);
}

.quality-btn-2 {
	--default-background: var(--lime);
	--outline-color: var(--turquoise);
}

.quality-btn-3 {
	--default-background: var(--orange);
	--outline-color: var(--darkorange);
}

.quality-btn-4 {
	--default-background: var(--pink);
	--outline-color: var(--coral);
}

.quality-btn-5 {
	--default-background: var(--coral);
	--outline-color: var(--coral);
}

/* Small screen */
@media (max-width: 576px) {
	.sleep-btn .btn {
		width: 100px;
	}
}

/* Activities log */
.act-btn .btn {
	margin: 5px;
	padding: 0;
	width: 100px;
	height: 100px;
	border: 0;
}

.act-btn-icon {
	font-size: 3.5rem;
}

.act-btn .card-text {
	margin-bottom: 0.5rem !important;
}

/* Specific styles for activity buttons */
.act-btn-social {
	background-color: var(--azure) !important;
}

.act-btn-social:hover {
	background-color: var(--cerulean) !important;
}

.act-btn-social:active,
.act-btn-social:focus {
	outline: 5px solid var(--blue) !important;
}

.act-btn-hobbies {
	background-color: var(--lime) !important;
}

:hover.act-btn-hobbies {
	background-color: var(--chartreuse) !important;
}

:active.act-btn-hobbies,
:focus.act-btn-hobbies {
	outline: 5px solid var(--turquoise) !important;
}

.act-btn-exercise {
	background-color: var(--orange) !important;
}

:hover.act-btn-exercise {
	background-color: var(--lightorange) !important;
}

:active.act-btn-exercise,
:focus.act-btn-exercise {
	outline: 5px solid var(--darkorange) !important;
}

.act-btn-meal {
	background-color: var(--pink) !important;
}

:hover.act-btn-meal {
	background-color: var(--pastel) !important;
}

:active.act-btn-meal,
:focus.act-btn-meal {
	outline: 5px solid var(--coral) !important;
}

/* For small screen */
@media (min-width: 577px) and (max-width: 767px) {
	.act-btn .btn {
		width: 80px;
		height: 80px;
	}
	.act-btn-icon {
		font-size: 3rem;
	}
}

@media (max-width: 576px) {
	.act-btn .btn {
		width: 65px;
		height: 65px;
	}
	.act-btn-icon {
		font-size: 2.2rem;
	}
}
