/* memberPage.css */

/* Dashboard style */
.dashboard-content {
	width: 100vw;
}

.row .aside {
	background-color: var(--sidebar-bg-color);
	color: var(--sidebar-text-color);
}

/* Sidebar style */
.sidebar {
	background-color: var(--sidebar-bg-color);
	color: var(--sidebar-text-color);
}

.offcanvas {
	background-color: var(--bg-color-primary) !important;
}

.offcanvas-body {
	padding: 1rem 0 !important; 
}

/* User box style */
.sidebar-user {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.sidebar-img {
	margin-bottom: 1rem;
	object-fit: cover;
	object-position: 25% 25%;
	width: 180px;
	height: 180px;
	align-self: center;
}

.sidebar-username {
	margin: 0.5rem 0 2rem 0;
	font-size: 1.3rem;
	font-weight: 900 !important;
}

/* Sidebar button style */
.sidebar-item {
	display: flex;
	margin-bottom: 3px;
	width: 100%;
	background-color: var(--sidebar-btn-color);
	color: var(--sidebar-text-color);
	border-color: var(--sidebar-border-color);
}

.sidebar-item a {
	color: var(--sidebar-text-color);
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 1rem 1.8rem;
}

.sidebar-item a svg {
	margin-right: 10px;
	width: 20px;
	height: 1.2rem;
}

.sidebar-item a:hover,
.sidebar-item a:focus,
.sidebar-item a:active,
.sidebar-item a.active {
	background-color: var(--sidebar-active-btn-color) !important;
	color: var(--sidebar-active-text-color) !important;
}

/* Content style */
.content {
	padding: 2rem 3rem;
}

/* Mood page style */
.mood-title-icon {
	margin: 0 1rem;
}
