/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet');

#root {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

:root {
  --bg-color-primary: #FBF6EB; 
  --bg-color-secondary: #FBEDD4; 
  --text-color-dark: #525252;
  --text-color-white: #ffffff;

  --navbar-text-color: #ffffff;
  --navbar-text-dark-color: #525252;
  --navbar-bg-color: #FFAE30;
  --navbar-active-color: #FEE080;

  --sidebar-text-color: #525252;
  --sidebar-bg-color: #FBEDD4;
  --sidebar-btn-color: #FEE080;
  --sidebar-border-color: #FFD15D;
  --sidebar-active-btn-color: #FFAE30;
  --sidebar-active-border-color: #FEE080;
  --sidebar-active-text-color: #ffffff;

  --grey: #D4D4D4;
  --charcoal: #525252;
  --orange: #FFD15D;
  --lightorange: #fee080;
  --lilac: #9D9DF0;
  --coral: #FF8891;
  --turquoise: #6AD6BE;
  --azure: #559BE0;
  --cerulean: #80CAFF;
  --lime: #9ADD65;
  --chartreuse: #C8E771;
  --yellow: #FFDE55;
  --pink: #FF99C3;
  --pastel: #FFC2DB;
  --ruby: #FC5765;
  --taupe: #977E65;
  --sandstone: #E7D0A5;
}

body {
  background-color: var(--bg-color-primary) !important;
  color: var(--text-color-dark) !important;
}

h1,h2,h3,h4,h5,h6,label,span, .card-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600 !important;
}

.main-content {
  min-height: calc(100vh - 4.5rem);
}

/* Nav and sidebar style */
Nav,
.sidebar {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.row .aside {
	padding: 2rem 0;
	max-width: 280px !important;
  min-height: calc(100vh - 6.5rem);
  z-index: 20;
}

/* Sidebar offcanvas styles */
/* Large screen */
@media (min-width: 992px) {
	.offcanvas-btn {
		display: none !important;
		position: fixed;
		top: 3.5rem;
		left: 0;
	}
}

/* Small screen */
@media (max-width: 991px) {
	.aside {
		display: none;
	}

  .offcanvas-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 3.5rem;
    left: 0;  
    width: 3rem !important;
    height: 3rem;
    text-align: center;
    background-color: var(--lightorange);
    color: var(--charcoal);
  }

}

/* Footer style */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1rem;
}



